.parent-div-home {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* Header Section */

.header {
  width: 100%;
  height: 105vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: -15vh;
  position: relative;
}

.header-img {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  filter: brightness(0.4);
  z-index: 0 !important;
  height: 105vh;
  object-fit: cover;
}

.second-header {
  width: 100%;
  height: 50vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.album-name-img {
  margin: 0;
  margin-top: 6rem;
}

.h2-header {
  font-size: 1.7rem;
  margin: 0 auto;
  font-weight: 600;
  margin: 0 auto;
}

.header-p {
  font-size: 1rem;
  text-align: center;
}
.header-nav-button {
  text-decoration: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-btn {
  display: block;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: 13vw;
  height: 3.5rem;
  background-color: #ffffff00;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  border: solid 2px;
  border-color: #db1661;
  max-width: 20vw;
}

.header-btn:hover {
  color: white;
  background-color: #7c123a;
  border: #7c123a;
  transition: 0.2s ease-in-out;
}

/* Video Section */
.video-section {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 0;
  margin-top: -8rem;
  height: 100vh;
  background-color: #dfe0e1
}

/* Carousel Component */
.homepage-main {
  width: 100%;
  height: 80vh;
}

.container-styles {
  width: 100vw;
  height: 60vh;
  margin: 0 auto;
}

/* Album Section */

.album-section {
  width: 100%;
  height: 100vh;
}

.home-album-img {
  width: 50%;
  display: block;
  margin: 2rem 2rem;
  margin-top: 7rem;
  height: auto;
  float: right;
}

.home-album-h2 {
  color: black;
  width: 30%;
  display: inline-flex;
  font-weight: 600;
  margin-top: 20%;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  margin-left: 5%;
}

.album-paragraph {
  color: black;
  margin-left: 5%;
}

.home-album-button {
  display: block;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: 100%;
  height: 2.5rem;
  background-color: #ffffff;
  cursor: pointer;
  border: solid 2px;
  border-color: #db1661;
  max-width: 10rem;
}

.home-album-button:hover {
  background-color: #db1661;
  transition: 0.2s ease-in-out;
  color: white;
}

.listen-btn-home-nav {
  text-decoration: none;
}

/* Playlist Section */

.playlist-section {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
}

.playlist-img-div {
  width: 100%;
  height: 100vh;
  background-image: url("../../media/first-bio-img.jpg  ");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(0.4);
  position: absolute;
}

.playlist-h1 {
  font-size: 1.5rem;
  position: relative;
  color: white;
  /* margin-left: 5%; */
  font-size: 2.5rem;
  margin-top: 5%;
  float: right;
  width: 50%;
  margin-bottom: 1%;
}

.playlist-content-div {
  /* display: flex; */
  position: absolute;
  /* flex-direction: column; */
  width: 100%;
  /* height: 80vh; */
  /* justify-content: center;
  align-items: flex-start;
  gap: 1.5rem; */
}

.playlist-paragraph {
  color: white;
  /* margin-left: 5%; */
  font-size: 1.3rem;
  margin-top: 5%;
  float: right;
  width: 35%;
  margin-right: 15%;
  margin-bottom: 1%;
  margin-top: 1%;
}

.playlist-button {
  width: 15%;
  height: 6vh;
  /* margin-left: 5%; */
  background: none;
  border: solid 2px;
  border-color: #db1661;
  font-size: 0.7rem;
  color: white;
  margin-right: 35%;
  margin-top: 1%;
  margin-bottom: 1%;
  float: right;
}

.playlist-btn {
  margin: 0;
}

iframe {
  margin-left: 5%;
  width: 40%;
  display: block;
  float: left;
  height: 50vh;
  margin-right: 5%;
}

iframe .as {
  background: linear-gradient(rgb(0 0 0 / .2), rgb(0 0 0 / .2)); ;
}

.af {
  background: none !important;
}



.playlist-button:hover {
  border-color: #7c123a;
  background-color: #7c123a;
  transition: 0.2s ease-in-out;
}

/* Story Section */
.story-section {
  width: 100%;
  height: 110vh;
  background-color: #dfe0e1;
}

.story-img {
  height: 95vh;
  margin-top: 3.5rem;
  margin-bottom: 0;
  width: 40%;
  margin-right: 5%;
  margin-right: 5rem;
}

.story-h2 {
  color: black;
  width: 40%;
  display: inline-flex;
  font-weight: 600;
  margin-top: 10%;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
}

.story-paragraph {
  color: black;
  display: block;
  width: 30%;
  float: left;
  margin-bottom: 2rem;
  margin-right: 9rem;
}

.story-btn-homepage-nav {
  width: 13%;
  height: 6vh;
}

.story-btn {
  width: 13%;
  height: 6vh;
  background: none;
  border: solid 2px;
  border-color: #000000;
  font-size: 0.9rem;
  color: rgb(0, 0, 0);
}

.story-btn:hover {
  background-color: #000000;
  color: white;
  border-color: #000000;
  transition: 0.2s ease-in-out;
}

/* Subscribe Section */

.subscribe-section {
  width: 100%;
  height: 50vh;
  display: flex;
}

.subscribe-img {
  width: 100%;
  height: 50vh;
  background-image: url('../../media/unsplash.jpg');
  background-position: 40% 85%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.subscribe-h3 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.subscribe-paragraph {
  font-size: .8rem;
  margin-bottom: 3rem;
}

.subscribe-input {
  width: 15rem;
  height: 3rem;
  border: none;
  padding: 1rem;
}

.subscribe-btn {
  border: solid 2px;
  width: 8rem;
  height: 3rem;
  background: none;
  color: white;
  margin-left: 1rem;
  cursor: pointer;
}

.subscribe-btn:hover {
  border-color: #7c123a;
  transition: .2s ease-in-out;
  background-color: #7c123b3f;
}


/* Mobile */

@media screen and (max-width: 760px) {
  .parent-div-home::-webkit-scrollbar {
    display: none;
  }

  .album-name-img {
    width: 60%;
    height: 60%;
  }

  .h2-header {
    font-size: 1rem;
  }

  .header-p {
    font-size: 0.8rem;
    margin: 0;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
  }

  .header-btn {
    font-size: 0.5rem;
    height: 5vh;
    min-width: 30vw;
  }

  .video-section {
    height: 50vh;
  }

  /* Album Section */
  .album-section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
  }

  .home-album-img {
    width: 90%;
    display: block;
    margin: 0 auto;
    height: auto;
  }

  .home-album-h2 {
    width: 80%;
    margin-top: 2.5rem;
    font-size: 1.4rem;
  }

  .album-paragraph {
    color: black;
    width: 80%;
    display: block;
    font-size: 0.8rem;
  }

  .album-btn {
    margin-top: 1rem;
  }

  .home-album-button {
    display: block;
    margin: 0;
    width: 100%;
    height: 2.2rem;
    background-color: #ffffff;
    cursor: pointer;
    border: solid 2px;
    border-color: #db1661;
    max-width: 15rem;
    font-size: 0.7rem;
  }

  .container-styles {
    height: 25vh;
  }

  /* Playlist Section */
  .playlist-content-div {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .playlist-h1 {
    font-size: 2rem;
    margin-top: 2rem;
    float: none;
    margin-left: 5%;
  }

  .playlist-paragraph {
    color: white;
    margin-left: 5%;
    font-size: .8rem;
    width: 80%;
  }

  .playlist-button {
    width: 59%;
    height: 6vh;
    margin-left: 5%;
    background: none;
    border: solid 2px;
    border-color: #db1661;
    font-size: 0.7rem;
    color: white;
  }

  .playlist-btn {
    margin: 0;
    width: 83%;

  }

  iframe {
    width: 80%;
    height: 40vh;
  }

  .playlist-button:hover {
    border-color: #7c123a;
    background-color: #7c123a;
    transition: 0.2s ease-in-out;
  }

  /* Story Section */

  .story-section {
    width: 100%;
    height: auto;
    background-color: #dfe0e1;
  }

  .story-h2 {
    font-size: 1rem;
    width: 80%;
    margin-top: 5%;
    margin-left: 5%;
  }

  .story-img {
    height: auto;
    width: 90%;
    margin: 2rem auto;
  }

  .story-paragraph {
    width: 80%;
    font-size: 0.8rem;
    margin-bottom: 1.5rem;
    margin-left: 5%;
  }

  .story-btn-homepage-nav {
    width: 30%;
    height: 5vh;
    margin-left: 5%;
    margin-bottom: 2rem;
  }

  .story-btn {
    margin-left: 0;
    width: 100%;
    font-size: 0.6rem;
    height: 5vh;
    margin-bottom: 2rem;
  }

  /* Subscribe Section */

  .subscribe-h3 {
    font-size: 1.5rem;
  }

  .subscribe-paragraph {
    font-size: .55rem;
    margin: 1rem;
  }

  .subscribe-input {
    margin-top: 1rem;
    width: 15rem;
    height: 2em;
  }

  .subscribe-input {
    font-size: .7rem;
  }

  .subscribe-btn {
    width: 6rem;
    height: 2rem;
    font-size: .7rem;
    margin: 2rem;
    margin-top: 1.5rem;
  }

}
